<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="caas">

        <include resource="org/springframework/boot/logging/logback/defaults.xml" />

        <springProperty scope="context" name="service" source="spring.application.name" />
        <property scope="context" name="hostname" value="${HOSTNAME}" />
        <springProperty scope="context" name="namespace" source="POD_NAMESPACE" />
        <springProperty scope="context" name="node" source="NODE_NAME" />
        <springProperty scope="context" name="pod" source="POD_NAME" />

        <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>./tmp/log/service.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./tmp/log/service.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>200MB</maxFileSize>
                <maxHistory>2</maxHistory>
                <totalSizeCap>800MB</totalSizeCap>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="fileAppender" />
        </logger>
        <root level="INFO">
            <appender-ref ref="fileAppender" />
        </root>

    </springProfile>


    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="service" source="spring.application.name" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{processDefinitionId}] [%X{processInstanceId}] [%X{businessKey}] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>


</configuration>